<div class="container margin">
    <!-- Your content goes here -->
    <div class="container text-center mt-4">
      <h1 class="heading">Contact Me</h1>
    </div>
    
    
    
    <div class="container mt-5 content1">
      <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Linked in</h2>
          <p class="para2"> Link : 
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Email Id</h2>
          <p class="para2">-- vp1446392@gmail.com 
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Contact No: </h2>
          <p class="para2">
            - 9315095708
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Address No: </h2>
          <p class="para2"> North West Delhi - 110035
          </p>
          <!-- Add more information as needed -->
        </div>
      </div>
    </div>
    </div>