<div class="container margin">
    <!-- Your content goes here -->
    <div class="container text-center mt-4">
      <h1 class="heading">About</h1>
      <p class="para">Here's some interesting content about myself</p>
    </div>
    
    
    
    <div class="container mt-5 content1">
      <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
    
        <div class="col-md-2">
          <!-- Add information about yourself here -->
          <h2 class="para0">About me</h2>
          <p class="para2">
           Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
           Software Developer in NIIT Stack Route Program. 
          </p>
        </div>
          <div class="col-md-3">
          <h2 class="para0">Education & Background</h2>
          <p class="para2">
            I completed my 10th grade from UP Board in 2012 with a commendable score of 82%. Following that, I successfully completed my 12th grade from UP Board in the same year with a solid score of 68%.
            In pursuit of my passion for technology and software development, I went on to pursue a Bachelor's in Computer Application from K.S. Saket PG Ayodhya. I am proud to say that I graduated in 2017 with a respectable academic record of 69.7%.
            Recently, I undertook an exciting and intensive Full Stack Software Development Program at NIIT Stack Route. The program was a transformative experience, equipping me with a comprehensive skill set in front-end and back-end development,
             as well as expertise in various programming languages, frameworks, and technologies.
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-7">
            <h2 class="para0">Future Goals</h2>
            <p class="para2">
                
                <span class="bold"> Master's in Computer Applications (MCA):</span>
                
                Completing my Master's in Computer Applications has been a pivotal step in my IT journey. Throughout my MCA program, I acquired a deep understanding of programming languages, algorithms, data structures, software engineering principles, and various emerging technologies. The coursework and hands-on projects have honed my technical skills, preparing me to excel in the ever-evolving IT landscape.
                
                <span class="bold"> Pursuing a Ph.D. in IT::</span>
               
                Obtaining a Ph.D. in the IT field is an integral part of my long-term vision. The pursuit of a doctorate will not only deepen my knowledge but also allow me to conduct in-depth research, exploring novel ideas and contributing to the advancement of technology. A Ph.D. will enable me to make a meaningful impact on the industry and academia, driving innovation and technological breakthroughs.
                
                <span class="bold"> Contributing to the IT Community::</span>
                
              
                Throughout my career, I am committed to being an active participant in the IT community. Whether it's through publishing research papers, participating in conferences, or collaborating with fellow professionals, I aim to contribute to the collective knowledge of the industry. By sharing insights and collaborating with others, I hope to play a role in shaping the future of IT.
                
                Conclusion:
                My future goal in the IT industry is to create a meaningful and impactful career journey driven by a passion for technology, continuous learning, and a dedication to making a difference. The combination of my MCA education and a Ph.D. will be instrumental in realizing this vision, empowering me to be a catalyst for positive change in the ever-evolving IT landscape. I am eager to embrace challenges, seize opportunities, and leave a lasting mark on the IT industry and the broader community.
            </p>
            <!-- Add more information as needed -->
          </div>
      </div>
    </div>
    <div class="container mt-5 content1">
        <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
      
         
      </div>
    </div>
