<div class="container margin">
    <!-- Your content goes here -->
    <div class="container text-center mt-4">
      <h1 class="heading">About</h1>
      <p class="para">Here's some interesting content about myself</p>
    </div>
    
    
    
    <div class="container mt-5 content1">
      <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
    
        <div class="col-md-4">
          <!-- Add information about yourself here -->
          <h2 class="para0">About me</h2>
          <p class="para2">
           Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
           Software Developer in NIIT Stack Route Program. 
          </p>
        </div>
          <div class="col-md-4">
          <h2 class="para0">Education & Backgroud</h2>
          <p class="para2">
           Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
           Software Developer in NIIT Stack Route Program. I have completed my Bachelors in Computer Application
           from K.S.Saket PG College Ayodhya..
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-4">
            <h2 class="para0">Vivek Kumar Pandey</h2>
            <h2 class="para1">Full Stack Developer</h2>
            <p class="para2">
             Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
             Software Developer in NIIT Stack Route Program. I have completed my Bachelors in Computer Application
             from K.S.Saket PG College Ayodhya..
            </p>
            <!-- Add more information as needed -->
          </div>
      </div>
    </div>
    <div class="container mt-5 content1">
        <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
      
          <div class="col-md-4">
            <!-- Add information about yourself here -->
            <h2 class="para0">Vivek Kumar Pandey</h2>
            <h2 class="para1">Full Stack Developer</h2>
            <p class="para2">
             Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
             Software Developer in NIIT Stack Route Program. I have completed my Bachelors in Computer Application
             from K.S.Saket PG College Ayodhya..
            </p>
          </div>
            <div class="col-md-4">
            <h2 class="para0">Vivek Kumar Pandey</h2>
            <h2 class="para1">Full Stack Developer</h2>
            <p class="para2">
             Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
             Software Developer in NIIT Stack Route Program. I have completed my Bachelors in Computer Application
             from K.S.Saket PG College Ayodhya..
            </p>
            <!-- Add more information as needed -->
          </div>
          <div class="col-md-4">
              <h2 class="para0">Vivek Kumar Pandey</h2>
              <h2 class="para1">Full Stack Developer</h2>
              <p class="para2">
               Hi ! My name is Vivek Kumar Pandey I am based out from Delhi. I am skilled and Certified Full Stack
               Software Developer in NIIT Stack Route Program. I have completed my Bachelors in Computer Application
               from K.S.Saket PG College Ayodhya..
              </p>
              <!-- Add more information as needed -->
            </div>
        </div>
      </div>
    </div>
