<div class="container margin">
    <!-- Your content goes here -->
    <div class="container text-center mt-4">
      <h1 class="heading">Technical Skills</h1>
    </div>
    
    
    
    <div class="container mt-5 content1">
      <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Programming Languarges</h2>
          <p class="para2"> I am profecient in programming languages like <b>Java</b>
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Databases Technololgy</h2>
          <p class="para2">-- vp1446392@gmail.com 
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Frontend Tech. </h2>
          <p class="para2">
            - 9315095708
          </p>
          <!-- Add more information as needed -->
        </div>
        <div class="col-md-3">
          <!-- Add information about yourself here -->
          <h2 class="para0">Backend Technololgy</h2>
          <p class="para2"> North West Delhi - 110035
          </p>
          <!-- Add more information as needed -->
        </div>
      </div>
    </div>
    <div class="container text-center mt-4">
        <h1 class="heading">Soft Skills</h1>
      </div>
      
      
      
      <div class="container mt-5 content1">
        <div class="row" style="display: flex; justify-content: space-around; flex-direction: row; width: 100%;">
    
          <div class="col-md-3">
            <!-- Add information about yourself here -->
            <h2 class="para0">Databases Technololgy</h2>
            <p class="para2">-- vp1446392@gmail.com 
            </p>
            <!-- Add more information as needed -->
          </div>
          <div class="col-md-3">
            <!-- Add information about yourself here -->
            <h2 class="para0">Frontend Tech. </h2>
            <p class="para2">
              - 9315095708
            </p>
            <!-- Add more information as needed -->
          </div>
          <div class="col-md-3">
            <!-- Add information about yourself here -->
            <h2 class="para0">Backend Technololgy</h2>
            <p class="para2"> North West Delhi - 110035
            </p>
            <!-- Add more information as needed -->
          </div>
        </div>
      </div>

    </div>